*{
}
.container, .container-fluid{
    background-color: rgb(214, 214, 214);
}
.centrado{
    display: flex;
    flex-wrap: wrap;
}
.a{
    height: auto;
}
.w{
    display: flex;
    width: 100%;
    text-align: left;
    height: auto!important;
    align-items: center;
}
.detail img{
    transition: opacity 0.7s;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
}
.detail img:hover{
    transition: opacity 0.7s;
    opacity: 0.6;
}
h1{
    font-size: 4vw;
}
.detail h3{
    font-size: 3vw;
    color: red;
}
.detail h5{
    font-size: 1.5vw;
}
.cart{
   color: white!important;
}
.button-buy{
    font-size: 1.5vw!important;
    width: auto!important;
    height: auto;
    padding: 1px;
    background-color: rgb(53, 53, 53)!important;
}
.btn-mobile{
    width: 70%!important;
    height: 30px;
    background-color: rgb(53, 53, 53)!important;
    font-size: 12px!important;
    color: white!important;
}
.button-buy:hover{
    color: black!important;
}
.contvoid{
    height: 300px;
    display: flex;
    justify-content: center;
    align-items:center;
    align-content: center;
}