*{
}
.centrado{
    display: flex;
    flex-wrap: wrap;
}
.a{
    height: auto;
}
.w{
    display: flex;
    width: 100%;
    text-align: left;
    height: auto!important;
    align-items: center;
}
.img-border{
    border: 1px solid rgb(24, 23, 23);
}
h1{
    font-size: 4vw;
}
.detail h3{
    font-size: 3vw;
    color: red;
}
.detail h5{
    font-size: 1vw;
}
.cart{
   color: white!important;
}