.titlehome{
    font-weight: bold;
}
.rec.rec-arrow {
    border-radius: 50%;
    width: 20px!important;
    padding: 0!important;
}
.rec.rec-arrow:focus, .rec.rec-arrow:hover {
    background-color: black!important;
    color: white;
}