.carrito {
    position: absolute;
    z-index: 1;
    width: 400px;
    height: auto;
    background: white;
    right: 20px;
    top: 75px;
    padding: 10px 0px;
    box-sizing: border-box;
    border-radius: 5px;
    box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 20%), 0px 4px 5px 0px rgb(0 0 0 / 14%), 0px 1px 10px 0px rgb(0 0 0 / 12%);
}

.carrito * {
    color: black;
}

.carrito .item-cart-list {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    padding: 0px 10px;
    border-bottom: 1px solid #d6d6d6;
}

.carrito .item-cart-list:nth-of-type(1) {
    border-top: 1px solid #d6d6d6;
}
.item-cart-list p, .item-cart-list span{
    margin:0;
}

.item-cart-img {
    width: 80px;
    padding: 5px 0px;
}

.item-cart-img img {
    width: 100%;
}

.carrito {
    max-height: 300px;
    overflow-y: auto;
}
.number-cart{
    width: 23px;
    height: 23px;
    background-color: white;
    color: black;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 0;
}
.widget-mobile{
    width: 25px!important;
}
.number-cart-mobile{
    width: 17px;
    height: 17px;
    background-color: white;
    color: black;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 0!important;
    font-size: 10px;
    font-weight: bold;
}