body{
    height: auto;
}
*{

}
h1,h2{
    font-weight:900;
}
h6{
    font-weight: bold;
}
.titlehome{
    position: relative;
    bottom: 5px;
    margin-left: 10px;
    margin-right: 20px;
    border-bottom: 1px solid rgba(11, 11, 11, 0.2);
    flex-grow: 1;
    content: '';
}
.ml{
    margin-left: 10px;
}
.mr-5{
    margin-right: 50px;
}
.mr-3{
    color:black!important;
    text-decoration: none;
    text-transform: capitalize;
}
.contvoid{
    height: 500px!important;
    margin-bottom: 120px;
}
.scrolled{
    left: 10px!important;
    top: 0px!important;
    width: auto!important;
    transition: transform ease-out 0.5s!important;
}
.sidebarCat{
    border: 1px solid rgb(233, 233, 233);
    border-radius: 5px;
    box-shadow: 2px 2px 2px #888888;
    background-color: rgb(233, 233, 233);
    margin-bottom: 2px;
}
.button-category{
    border: 1px solid rgb(179, 179, 179);
    border-radius: 5px;
    box-shadow: 2px 2px 2px #888888;
    background-color: rgb(179, 179, 179);
    margin-bottom: 2px;
    font-weight: bold;
    width: auto!important;
}
.index{
    z-index: 2!important;
}
.border-bottom{
    border-color: black!important;
}
.h-auto{
    height: 40px!important;
}
