.banner{
    width: 100%;
    height: 500px;
    margin: 0;
    background-image: url(../../assets/construction.gif);
    background-size: contain;
    background-position-y: center;
    background-position-x: center;
    background-repeat: no-repeat;
    margin-bottom: 50px;
}
