*{
    font-family: "Roboto";
    text-decoration: none!important;
}
.links{
    width: 0px;
    height: 0px;
}
.product{
    width: 300px;
    height: auto;
    border: 1px solid rgb(233, 233, 233);
    border-radius: 5px;
    text-align: center;
    justify-content: center;
    box-shadow: 2px 0px 3px 3px #888888;
    margin-bottom: 5px;
    padding: 0 0 10px 0;
    background-color: rgb(233, 233, 233);
}
.w-mobile{
    width: 150px!important;
}
.fs-mobile{
    font-size: 15px!important;
}
.img-item{
    width: 100%;
}
.img-item:hover{
    opacity: 0.7;
}
.title{
    flex-wrap: wrap;
    margin-bottom: 0px;
    color:black;
    height: auto;
    text-align: left;
}
.price{
    height: auto;
    text-align: left;
    margin-bottom: 0px;
    color:black;
}
.fs-8{
    font-size: 14px;
}
span.stock-text {
    position: absolute;
    margin-left: 1%;
    color: black;
    border-radius: 30px;
    padding: 5px;
}
.button{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: rgb(53, 53, 53)!important;
    color: white!important;
}
.button-buy:hover{
    background-color: rgb(182, 182, 182)!important;
}
.button-buy{
    font-size: 1.5vw!;
    width: auto!important;
    height: auto!important;
    padding: 2px!important;
}