*{
    font-family: "Roboto";
    text-decoration: none!important;
}
.product{
    width: 300px;
    height: auto;
    border: 1px solid #5c5c5c;
    border-radius: 5px;
    text-align: center;
    justify-content: center;
    box-shadow: 2px 2px 2px #888888;
    margin-bottom: 5px;
    padding: 10px;
}
.img-item{
    width: 100%;
}
.title{
    flex-wrap: wrap;
    margin-bottom: 0px;
    color:black;
}
h5{
    color:black;
}

span.stock-text {
    position: absolute;
    margin-left: 1%;
    color: black;
    border-radius: 30px;
    padding: 5px;
}
