*{
    font-family: "Roboto";
}
#logo{
    width: 150px;
    margin:0;
}
.navb{
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}
.navb-background{
    background-color: rgb(121, 121, 121)!important;
}
.offcanvas{
    width: auto;
}