.carrito {
    position: absolute;
    z-index: 1;
    width: 600px;
    height: auto;
    background: black;
    right: 20px;
    top: 75px;
    padding: 10px 0px;
    box-sizing: border-box;
    border-radius: 5px;
    box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 20%), 0px 4px 5px 0px rgb(0 0 0 / 14%), 0px 1px 10px 0px rgb(0 0 0 / 12%);
}

.carrito * {
    color: white;

}

.carrito .item-cart-list {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    padding: 0px 10px;
    border-bottom: 1px solid #d6d6d6;
}

.carrito .item-cart-list:nth-of-type(1) {
    border-top: 1px solid #d6d6d6;
}
.item-cart-list p, .item-cart-list span{
    margin:0;
    display: flex;
    flex-wrap: wrap;
    
}
.item-cart-list p{
    width: 120px;
    justify-content: center;
}

.item-card-img {
    width: 80px;
    padding: 5px 0px;
}

.item-card-img img {
    width: 100%;
}

.carrito {
    max-height: 300px;
    overflow-y: auto;
}
.item-button{
    width: 40px;
    display: block;
}
.btn{
    width: 35px;
    height: 35px;
    padding: 5px;
    margin-bottom: 1px;
}
