.footer{
    background-color: grey;
    height: 200px;
    margin-top: 50px;
    text-align: center;
    color: white;
    align-items: center;
    display: flex;
    justify-content: space-around;
    width: 100%;
}
.text-footer{
    list-style: none;
    text-align: left;
}