.text-footer{
    list-style: none;
    text-align: left;
}
footer{
    background: rgb(71,71,71);
    background: linear-gradient(90deg, rgba(71,71,71,1) 0%, rgba(255,0,0,1) 50%, rgba(71,71,71,1) 100%);
    display: flex;
    align-content: center!important;
    align-items: center!important;
    justify-content: space-around;
    height: auto!important;
    padding: 20px 0 20px 0;
    margin-top: 50px;
    margin-bottom: 0!important;
    width: 100%;
}
footer p{
    color: white;
    font-weight: bold;
    height: auto;
    margin: 0!important;
}