.btn2{
    width: 2.92vw!important;
    height: 2.92vw!important;
    padding: 0;
    text-align: center;
    font-size: 1.46vw;
}
.btn1{
    width: 3.66vw!important;
    height: 2.92vw!important;
    padding: 0;
    text-align: center;
    font-size: 1.46vw;
}
.chart{
    width: 80px!important;
    height: 40px!important;
    padding: 0!important;
    text-align: center!important;
    font-size: 15px!important;
    font-weight: bold!important;
    background-color: red!important;
    color: black!important;
}
h5{
    font-size: 2vw;
}
