.btn2{
    width: 40px!important;
    height: 40px!important;
    padding: 0;
    text-align: center;
    font-size: 20px;
}
.btn1{
    width: 50px!important;
    height: 40px!important;
    padding: 0;
    text-align: center;
    font-size: 20px;
}
.chart{
    width: 80px!important;
    height: 40px!important;
    padding: 0!important;
    text-align: center!important;
    font-size: 15px!important;
    font-weight: bold!important;
    background-color: rgb(247, 53, 53)!important;
    color: black!important;
}
