
.btn2{
    width: 3.42vw!important;
    height: 3.42vw!important;
    padding: 0;
    text-align: center;
    font-size: 2.06vw;
}
.count-mobile{
    width: 30px!important;
    height: 30px!important;
    text-align: center;
    padding: 1px;
    font-size: 19px;
    border: 4px solid black;
    z-index: 0!important;
}
.btn1{
    width: 4.16vw!important;
    height: 3.42vw!important;
    padding: 0;
    text-align: center;
    font-size: 2.06vw;
}
.chart{
    width: 40px!important;
    min-width: 0px!important;
    height: 100%!important;
    padding: 2px!important;
    text-align: center!important;
    font-size: 1.5vw!important;
    font-weight: bold!important;
    background-color: rgb(53, 53, 53)!important;
    color: white!important;
}
h5{
    font-size: 2vw;
}
.added-to-cart{
    position: absolute;
    z-index: 1000;
    background-color: rgb(53, 53, 53)!important;
    left: 70px;
    font-size: 15px;
    width: auto;
    border-radius: 5px;
    padding: 3px;
}
.added-to-cart-mobile{
    position: absolute;
    z-index: 100000;
    background-color: rgb(53, 53, 53)!important;
    left: -15px;
    bottom: 40px;
    font-size: 10px;
    width: auto;
    border-radius: 5px;
    padding: 3px;
}
.hidden { opacity: 0; transition: opacity 2s linear;}
.visible { opacity: 1; transition: opacity 1s linear;}