.backgroundH{
    background-color: grey;
}
.button-to-products{
    border: 1px solid rgba(0, 0, 0, 0.678)!important;
    background-color: black!important;
    color: white!important;
    text-decoration: none!important;
    font-size: 30px!important;
}
.button-to-products-mobile{
    border: 1px solid rgba(0, 0, 0, 0.678)!important;
    background-color: black!important;
    color: white!important;
    text-decoration: none!important;
    font-size: 18px!important;
}
.button-to-products:hover{
    background-color: white!important;
    color: black!important;
    border: 1px solid rgba(0, 0, 0, 0.678)!important;
}
.contvoidHome{
    height: 600px!important;
    margin-bottom: 120px;
}
.homeAnimated{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
#logoAnimated{
    width: 300px;
}
.animate__animated.animate__flipInX{
    --animate-duration: 3.5s;
  }
