*{
    
}
.form-bg{
    background-color: rgb(214, 214, 214);
    border: 0.5px solid black;
}
.message-area{
    height: 200px;
}
.pr-0{
    padding-right: 0px!important;
}
.logo-contact{
    width: 60px;
}
.h-px{
    height: 450px!important;
}